.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  place-items: center;
  width: 21rem;
  margin: 0 auto;
  padding: 2rem 4rem 3rem 4rem;
  /* border: 2px solid #e3e3e3; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  /* background-image: url(../img/meta-gradient-dark.png);
  background-size: 100%; */
}
main {
  display: grid;
  place-items: center;
  height: 100vh;
  /* border: 2px solid #e3e3e3; */
  background-image: conic-gradient(
    from -90deg at 110% 100%,
    #2b303b 0deg,
    #16181d 90deg,
    #16181d 1turn
  );
}
.button-secondary {
  margin: 0 8px;
}
.z-h1 {
  margin: 0;
  margin-top: 14px;
  text-align: center;
  color: #686868;
  border-radius: 10px;
}
.tiny-headline {
  letter-spacing: 0.28rem;
  line-height: 1.75;
  text-align: center;
  margin: 0;
  padding: 0;
}
main > section > div {
  text-align: center;
}
@media (max-width: 840px) {
  .container {
    width: 78%;
    margin: 0 auto;
    padding: 2rem;
  }
  .container {
    align-items: CENTER;
    justify-content: center;
    height: 37rem;
  }
  .btn-box {
    display: FLEX;
    flex-direction: COLUMN;
    justify-content: CENTER;
    align-items: CENTER;
  }
  body > main > section > div > div > a:nth-child(1) {
    margin-bottom: 8px;
  }
}
.accent {
  color: #9d2235;
}
.hp-flag {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 10px;
}
