{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static 'shops/img/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'shops/img/apple-touch-icon-precomposed.png' %}"/>
    <link rel="canonical" href="https://softwaterlabs.dev/" />
    <link rel="stylesheet" href="{{ pure_css_cdn }}" />
    <link rel="stylesheet" href="{% static 'shops/css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'shops/js/scripts.js' %}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="description" content="{{ meta_description }}" />
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta property="og:title" content="Mom-and-Pop Shops of Maryland" />
    <meta property="og:description" content="Explore Maryland's family-owned businesses and add your favorites!" />
    <meta property="og:image" content="{% static 'shops/img/Flag_of_Maryland.jpg' %}" />
    <meta property="og:url" content="your_website_url" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mom-and-Pop Shops of Maryland" />
    <meta name="twitter:description" content="Explore Maryland's family-owned businesses." />
    <meta name="twitter:image" content="{% static 'shops/img/Flag_of_Maryland.jpg' %}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mom-and-Pop Shops</title>
    <!-- Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Mom-and-Pop Shops",
        "description": "Explore Maryland's family-owned businesses.",
        "url": "your_website_url",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "MD",
          "addressCountry": "US"
        }
      }
    </script>
  </head>
  <body>
    <main>
      <img class="hp-flag" src="{% static 'shops/img/Flag_of_Maryland.jpg' S%}" alt="The Maryland flag" />
      <section class="container">
        <div>
          <p class="tiny-headline">A Master List For the People</p>
          <h1 class="z-h1">
            Maryland<br />
            <span class="accent">Mom-and-Pop</span><br />
            Shops
          </h1>
          <p>Add to a curated list of local gems.</p>
          <div class="btn-box">
            <a href="{{ google_form_link }}" class="button-secondary pure-button pure-button-primary" target="_blank" rel="noopener">Add to List<i class="fa-solid fa-plus"></i></a>
            <a href="{{ list_link }}" class="button-secondary pure-button pure-button-primary" target="_blank" rel="noopener">View List</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
