Why We Ask for Your Email: I'm collecting your email strictly to keep you
updated on the project's progress, allow you to provide feedback, and notify you
of important, fun developments. Your email will never be sold, shared, or used
for any other purpose outside of this project. You’ll only receive updates that
matter, and you can unsubscribe at any time. Thank you for trusting me and being
part of this journey :)

<p>
  Would you like to join our think-tank? Yes, I want to comment and get email
  updates No, I want to enjoy the silence
</p>
